/*******************************************************************************
 *
 * Nom : style.css
 * Date et auteur : Nathan Charnomordic
 *		Créé le 23/10/2026
 *
 * Description :
 *		Fichier CSS du TP apprentissage des bases du css
 *
 *******************************************************************************/
 
 * {
 box-sizing: border-box;
}

 body {
 font-family:Arial, Helvetica, sans-serif;
 line-height: 1.5em;
 background-color: #e4f8f0;
}

 header {
 background-color: DimGray;
 color: white;
 text-align: center;
 font-size: 2em;
 line-height: 1.2em;
 margin: 10px;
 padding: 10px;
}

 footer {
 background-color: DimGray;
 color: white;
 text-align: center;
 padding: 5px;
 margin: 10px;
}

 section {
 margin: 10px;
}

 article {
 margin: 10px;
 padding: 10px;
 border-width: 2px;
 border-style: dotted;
 border-color: Grey;
}

 p {
 margin: 10px;
}

h1 {
 text-align: center;
 color: red;
 font-size: 2em;
 text-transform: uppercase;
}

 h1::first-letter {
 font-size: 1.25em;
}

#plusgrand {
 font-size: 1.25em;
}

 h2 {
 padding: 10px;
 background-color: red;
 border: 0px;
 border-left: 50px;
 border-color: black;
 border-style: solid;
 text-transform: capitalize;
}

#info {
 width: 600px;
 background-color: brown;
 color: white;
 text-align: center;
 font-size: 1.2em;
 line-height: 1.2em;
 padding: 10px;
 border-radius: 10px;
 margin: auto;
}

 .documentation {
 background-color: green;
 color: white;
 padding: 10px;
}

 .documentation a {
 text-decoration: none;
 background-color: DarkGreen;
 color: yellow;
 padding: 5px;
}

 .documentation a:hover {
 background-color: LightGreen;
 color: DarkGreen;
}

 .code {
 font-family: Courier;
 background-color: Gainsboro;
 border-width: 1px;
 border-style: solid;
 border-color: DarkGrey;
 border-radius: 5px;
}

 pre {
 margin: 10px;
 padding: 10px;
}

 table {
 width: 100%;
 margin: auto;
}

 table tr {
 line-height: 2em;
}

 table tr th {
 background-color: DarkBlue;
 color: white;
 height: 3em;
}

 table tr td {
 padding: 10px;
 border-color: black;
 border-style: solid;
 border-width: 1px;
 text-align: center;
}

 table tr:last-child {
 color: blue;
}

tr:nth-child(2), tr:nth-child(4),tr:nth-child(6), tr:nth-child(8) {
 background-color: lightblue;
}
